*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root{
	--color-primary: rgba(255, 255, 255, 0.8);
	--color-secondary:rgb(250,250,250, 0.6);
	--font: Verdana, Geneva, Tahoma, sans-serif;
	--text-color: #222;
}

html{
	font-size: 16px;
	font-family: var(--font);
	color: var(--text-color);
}

body{
	background: linear-gradient(to right, #c0392b, #8e44ad);
}

.container{
	margin: 1rem;
	max-height: 1200px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 3.5rem 80vh;
	gap: 1rem;
}

.column{
	background: rgb(250,250,250, 0.6);
	border-radius: 5px;
	overflow-y:auto;
	height: 100%;
	width: 100%;
}

.title{
	grid-column: 1/6;
	padding:.3rem;
	background: var(--color-secondary);
	border-radius: 5px;
}

.title > input{
	outline: none;
	background: transparent;
	font-size: 2rem;
	border: 0;
	width: 100%;
}

.title > input::placeholder{
	color: var(--text-color);
}

.task{
	display: block;
	background-color: var(--color-primary);
	width: calc(100% - 1rem);
	margin: 1rem auto;
	word-break: break-word;
}

.task hr{
	border: 0;
	border-top: 1px solid #777;
	margin-left: 4px;
	margin-right: 4px;
}

.task__header{
	display: flex;
	word-break: break-word;
	padding:5px;
	gap:2px
}

.task__title{
	width: 100%;
	outline: none;
	word-wrap: break-word;
}

.task__icon{
	display: flex;
	gap: 2px;
	align-items: start;
}

.task__body{
	min-height: 5rem;
	word-wrap: break-word;
	padding: 5px;
	outline:none;
}

.new_task{
	background-color: var(--color-primary);
	padding: 1rem;
	margin: 0.3rem;
	border-radius: 5px;
	font-size: 1.2rem;
	font-weight: bold;
	user-select: none;
}

.new_task:hover{
	background-color:var(--color-secondary);
	cursor: default;
}

@media (max-width: 360px){
	html{
		font-size: 13px;
	}

	.container{
		grid-template-rows: 2rem repeat(5,80vh);
	}

	.column{
		grid-column: 1/6;
	}
}