@import url('normalize.css');
@import url('all.css');

:root {
  --color-primary: rgba(255, 255, 255, 0.8);
  --color-secondary: rgb(250, 250, 250, 0.6);
  --font: Verdana, Geneva, Tahoma, sans-serif;
  --text-color: #222;
}

html {
  font-size: 16px;
  font-family: var(--font);
  color: var(--text-color);
}

body {
  background: linear-gradient(to right, #c0392b, #8e44ad);
}

.container {
  margin: 1rem;
  max-height: 1200px;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  max-height: 80vh;
}

.title {
  margin: 1rem;
  padding: 0.3rem;
  background: var(--color-secondary);
  border-radius: 5px;
}

.title > input {
  outline: none;
  background: transparent;
  font-size: 2rem;
  border: 0;
  width: 100%;
}

.title > input::placeholder {
  color: var(--text-color);
}

.add-column {
  display: flex;
  align-items: flex-start;
  user-select: none;
  height: fit-content;
}

.add-column__button {
  background-color: var(--color-secondary);
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
}

.form-create-column {
  background-color: var(--color-secondary);
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
}

.btn{
  background: transparent;
  border: 0;
}

.btn:hover{
  background: var(--color-secondary);
}

.btn:active{
  box-shadow: 0 0 0px 1px;
}

.btn-danger{

}

.m-1{
  margin: .3rem;
}